/*
Style J26
*/
.header {
    background-color: #302f2f;
    color: #fff;
    height: 90px;
}
.header-list li {
  list-style: none;
  float: left;
  padding: 33px 20px;  
}
.header-logo {
  float: left;
  font-size: 28px;
  padding: 20px 40px;
}
